/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

body,
h1,
h2,
p {
  margin: 0;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url("images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 40px;
  color: white;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 img {
  width: 200px;
}

main {
  text-align: center;
}

main h2 {
  margin-top: 60px;
  font-family: "Poppins", sans-serif;
}

main p {
  margin: 40px 0;
}

main section a {
  text-decoration: none;
  background-color: white;
  color: hsl(257, 40%, 49%);
  padding: 10px 80px;
  border-radius: 30px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  /* Changes the size and recognizes the padding of the anchor tag! */
  display: inline-block;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* adding a space with a class looks for children, without a space looks for... */
footer i.fa-brands {
  padding: 5px;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  margin: 0 5px;
  text-decoration: none;
}

#image-container img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url("images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  main {
    display: flex;
    text-align: left;
    align-items: center;
  }

  main h2 {
    margin-top: 0;
  }

  #image-container,
  #about-container {
    flex: 1;
  }

  #image-container {
    margin-right: 20px;
  }

  #about-container {
    margin-left: 20px;
  }
}
